<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Angel_to_001.Properties.Settings.ANGEL_TO_001_ConnectionString"
      connectionString="Data Source=192.168.144.244;Initial Catalog=ANGEL_TO_001_TEST4;Persist Security Info=True;User ID=ANGEL_TO_001_TEST_OWNER4;Password=ANGEL_TO_001_TEST_OWNER41"
      providerName="System.Data.SqlClient" />
    <add name="Angel_to_001.Properties.Settings.ANGEL_TO_001_REPORTS_ConnectionString"
      connectionString="jdbc:jtds:sqlserver://192.168.144.244:1433/ANGEL_TO_001_TEST4;USER=ANGEL_TO_001_TEST_AU;PASSWORD=ANGEL_TO_001_TEST_AU1"
      providerName="net.sourceforge.jtds.jdbc.Driver" />
  </connectionStrings>
  <appSettings>
    <!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
    <add key="Angel_to_001.Properties.Settings.Ar_path" value="C:\Program Files\Adobe\Reader 8.0\Reader\AcroRd32.exe" />
    <add key="Angel_to_001.Properties.Settings.Printer_name" value="EPSON Stylus CX4300 Series" />
    <add key="Angel_to_001.Properties.Settings.Ip_server" value="127.0.0.1" />
    <add key="Angel_to_001.Properties.Settings.Spool_path" value="\\spool\EPSON Stylus CX4300 Series" />
    <add key="Angel_to_001.Properties.Settings.Printer_device" value="epson" />
    <add key="Angel_to_001.Properties.Settings.Save_name_psw" value="true" />
    <add key="Angel_to_001.Properties.Settings.Username" value="" />
    <add key="Angel_to_001.Properties.Settings.Password" value="" />
    <add key="Angel_to_001.Properties.Settings.Defender_psw" value="Angel_to_001_defender" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>