<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Angel_to_003.DataSourceModule.Interface.Properties.Settings.ANGEL_TO_001_TEST4ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ANGEL_TO_001_TEST4;Persist Security Info=True;User ID=ANGEL_TO_001_TEST_OWNER2;PASSWORD=ANGEL_TO_001_TEST_OWNER21"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>