<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
 </configSections>
    <userSettings>
        <SerialPortTerminal.Properties.Settings>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Device_name" serializeAs="String">
                <value>ENTER_DUTY_SERIAL_DEVICE</value>
            </setting>
            <setting name="Ip_server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Terminal_color" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="Device_info_msg" serializeAs="String">
                <value>23 53 30 30</value>
            </setting>
            <setting name="Device_length_msg" serializeAs="String">
                <value>41</value>
            </setting>
            <setting name="Device_offset_msg" serializeAs="String">
                <value>24</value>
            </setting>
        </SerialPortTerminal.Properties.Settings>
    </userSettings>
	<connectionStrings>
  <add name="SerialPortTerminal.Properties.Settings.ANGEL_TO_001_ConnectionString"
   connectionString="Data Source=srv-ts;Initial Catalog=ANGEL_TO_001_TEST4;Persist Security Info=True;User ID=ANGEL_TO_001_TEST_AU;Password=ANGEL_TO_001_TEST_AU1"
   providerName="System.Data.SqlClient" />

 </connectionStrings>
</configuration>
